In [29]:
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv("/Users/Rohit/Downloads/data.csv")
df.head()

,track id,genre,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,sadness,mood,liked,disliked,age,gender,mother tongue
0,1,classical,0,1,0,0,0,0,1,1,0,3,1,0,21,1,English
1,1,classical,0,0,0,1,0,0,0,0,0,3,0,1,41,1,Dutch
2,1,classical,0,0,0,1,0,0,0,0,1,3,0,0,24,1,English
3,1,classical,0,0,0,0,1,0,0,0,0,3,0,0,32,0,Spanish
4,1,classical,0,0,0,1,1,0,0,0,0,4,0,1,21,0,English

In [11]:
df[df.columns[14]].min()

5

In [3]:
def ind(x):
    if int(x) > 100 and int(x) <= 200:
        return str(int(x)-100)
    if int(x) >200 and int(x) <= 300:
        return str(int(x)-200)
    if int(x) >300 and int(x) <= 400:
        return str(int(x)-300)
    return str(x)

In [12]:
def age(x):
    if int(x) >= 0 and int(x) < 10:
        return str('Kids')
    if int(x) >= 10 and int(x) < 20:
        return str('Teens')
    if int(x) >= 20 and int(x) < 50:
        return str('Adults')
    if int(x) >= 50 and int(x) < 100:
        return str('Seniors')

In [7]:
pd.DataFrame(df.columns).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,track id,genre,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,sadness,mood,liked,disliked,age,gender,mother tongue

In [23]:
df['AgeGroup'] = df[df.columns[14]].apply(lambda x: age(x))
df['Classical'] = df[df.columns[1]].apply(lambda x: 1 if x == 'classical' else 0)
df['Pop'] = df[df.columns[1]].apply(lambda x: 1 if x == 'pop' else 0)
df['Electronic'] = df[df.columns[1]].apply(lambda x: 1 if x == 'electronic' else 0)
df['Rock'] = df[df.columns[1]].apply(lambda x: 1 if x == 'rock' else 0)

In [41]:
df1 = df[df[df.columns[12]]==1]

In [44]:
agelike = df1.groupby(['AgeGroup',df.columns[12]
                    ])['Rock','Electronic','Pop','Classical'].mean()

In [45]:
agelike

                     Rock  Electronic       Pop  Classical
AgeGroup  liked
Adults   1       0.228844    0.191101  0.204211   0.375844
Seniors  1       0.193154    0.129584  0.105134   0.572127
Teens    1       0.301370    0.197260  0.227397   0.273973

In [ ]:
df.groupby(df.columns[15])[]

In [464]:
songscores = df.groupby([df.columns[0], df.columns[1]])[df.columns[2],df.columns[3],df.columns[4],df.columns[5],df.columns[6],df.columns[7],df.columns[8],df.columns[9],df.columns[10]].mean()

In [465]:
# songscores = songscores.round(0)
songscores['emotion'] = np.array(songscores.idxmax(axis=1))

In [504]:
songscores = pd.read_csv('/Users/Rohit/Desktop/emotifymusic/emotions.csv')
songscores['song'] = songscores['track id'].astype(str)
songscores['song'] = songscores['song'].apply(lambda x: ind(int(x)))
songscores['song'] = songscores['song'].astype(str)
del songscores['track id']
songscores['genreactual'] = songscores[songscores.columns[0]]
del songscores[songscores.columns[0]]
#songscores['genre'] = songscores['genre'].apply(lambda x: ind(x))

In [505]:
songscores.tail()

,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,sadness,emotion,song,genreactual
395,0.250000,0.166667,0.250000,0.500000,0.333333,0.000000,0.166667,0.083333,0.166667,nostalgia,96,pop
396,0.090909,0.090909,0.090909,0.181818,0.181818,0.363636,0.000000,0.363636,0.545455,sadness,97,pop
397,0.272727,0.000000,0.000000,0.363636,0.272727,0.181818,0.636364,0.272727,0.181818,joyful_activation,98,pop
398,0.333333,0.083333,0.583333,0.583333,0.666667,0.083333,0.166667,0.000000,0.250000,calmness,99,pop
399,0.250000,0.166667,0.083333,0.333333,0.083333,0.000000,0.250000,0.500000,0.416667,tension,100,pop

In [506]:
mfcc.tail()

,song,genreactual,X1,X2,X3,X4,X5,X6,X7,X8,...,X135,X136,X137,X138,X139,X140,X141,X142,X143,X144
395,95,rock,148.914557,11.385854,-14.419433,20.119700,-11.335805,20.681865,-9.681043,15.590925,...,-16.741580,15.646881,-21.010654,18.883060,-18.193482,16.559122,-14.417529,8.813310,-5.817961,7.792374
396,96,rock,164.837525,13.464742,-13.387728,16.935813,-16.079433,23.338415,-24.740612,13.696678,...,-12.917811,17.347306,-16.917913,23.092537,-20.606092,18.464235,-15.033952,13.713415,-10.666423,5.947689
397,97,rock,161.603349,10.029126,-14.185661,25.930415,-17.690684,24.532994,-14.376647,17.569615,...,-18.561821,18.031877,-19.157920,19.635476,-19.517100,18.857997,-14.936478,6.148520,-8.480199,3.578990
398,98,rock,162.320597,9.663049,-6.778317,1.384363,-10.194383,12.237091,-13.154905,13.337556,...,-5.184564,11.807511,-15.020020,15.067209,-14.640332,12.214318,-11.509531,11.146540,-12.819427,12.638585
399,99,rock,158.625270,12.527380,-22.181661,15.005977,-13.652752,23.930085,-10.665536,19.953743,...,-20.694452,14.079317,-24.546133,22.701594,-20.534941,21.344437,-14.731885,10.492144,-5.321130,9.749231

In [498]:
mfcc.shape

(400, 146)

In [499]:
songscores.shape

(400, 12)

In [508]:
overall = pd.merge(songscores, mfcc, how='inner', on=['song', 'genreactual'])
overall.shape

(400, 156)

In [509]:
overall.tail()

,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,sadness,emotion,...,X135,X136,X137,X138,X139,X140,X141,X142,X143,X144
395,0.250000,0.166667,0.250000,0.500000,0.333333,0.000000,0.166667,0.083333,0.166667,nostalgia,...,-6.785479,9.640711,-9.505537,12.383130,-16.038063,13.444276,-11.158558,19.934064,-12.404997,12.403638
396,0.090909,0.090909,0.090909,0.181818,0.181818,0.363636,0.000000,0.363636,0.545455,sadness,...,-18.213162,22.228120,-21.945471,20.750610,-23.648825,18.919091,-19.336035,13.940405,-8.690585,4.940160
397,0.272727,0.000000,0.000000,0.363636,0.272727,0.181818,0.636364,0.272727,0.181818,joyful_activation,...,-13.913437,8.930980,-12.101745,14.952672,-11.194542,8.928040,-11.887989,9.291221,-9.298040,7.499900
398,0.333333,0.083333,0.583333,0.583333,0.666667,0.083333,0.166667,0.000000,0.250000,calmness,...,-13.784188,14.196366,-19.352939,11.352697,-13.030593,18.132375,-13.836141,15.423797,-11.339878,13.511324
399,0.250000,0.166667,0.083333,0.333333,0.083333,0.000000,0.250000,0.500000,0.416667,tension,...,-17.282034,22.154239,-20.753677,18.922600,-23.870830,15.145902,-15.592567,8.140494,-4.012176,4.936481

In [510]:
overall.to_csv('/Users/Rohit/Desktop/overall.csv')